.button-menu {
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 10px 0;
  background-color: transparent;
}

.button-menu__icon-cross {
  display: none;
}

.button-menu.is-open .button-menu__icon-cross {
  display: block;
}

.button-menu.is-open .button-menu__icon-menu {
  display: none;
}
