.card-set {
  @extend %list-style;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}

.card-set__link {
  @include transition($type: box-shadow);

  color: inherit;
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
