.contacts {
  @extend %list-style;
  width: 100%;

  background-color: $main-bg-color;

  display: flex;
  flex-wrap: wrap-reverse;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 64px;

  @media screen and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    padding: 0;
    margin-left: 84px;
    margin-bottom: 0;
  }
}

.contacts__icon {
  display: none;
  @include transition($type: fill);

  background-repeat: no-repeat;
  margin-right: 10px;

  fill: currentColor;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contacts__item {
  // margin-right: 50px;

  &:nth-child(even) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  &:nth-child(odd) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  // @extend %fonts__site-nav-contacts;
  display: flex;
  align-items: flex-start;
  @include transition();
  text-decoration: none;

  // font-weight: 500;
  // font-size: 34px;
  // line-height: 1.18;
  // letter-spacing: 0.02em;

  // padding: 32px 0;
  border: none;

  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
