.features {
  @extend %list-style;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon {
  @include centeredflex();
  width: 450px;
  height: 120px;

  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $primary-bg-color;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__title {
  @extend %indentations;
  @extend %fonts-title;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  @extend %indentations;
  @extend %fonts-text;

  color: $primary-text-color;
}
