.hero__overlay {
  width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  // padding: 200px 0;
  padding: 118px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/overlay-mobile-480.jpg");
  background-size: 480px 400px;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/overlay-mobile-960.jpg");
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/overlay-tablet-768.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/overlay-tablet-1536.jpg");
    }
  }
}

.hero {
  text-align: center;
  background: #c4c4c4;
}

.hero__title {
  @extend %indentations;

  width: 360px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: $main-bg-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
