.menu {
  background-color: $main-bg-color;
  padding: 48px 40px;

  z-index: 2;

  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    position: static;
    justify-content: space-between;
  }
}

.menu__btn {
  @include transition;
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 10px 0;
  background-color: transparent;

  z-index: 3;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__icon-menu {
  display: none;
}

.menu__btn.is-open .menu__icon-menu {
  display: block;
}

.menu__btn.is-open .menu__icon-cross {
  display: none;
}
