.menu {
  background-color: $main-bg-color;
  padding: 48px 40px;

  z-index: 2;

  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    position: static;
    justify-content: space-between;
  }
}

.menu__btn {
  @include transition;
  position: fixed;
  top: 10px;
  right: 15px;

  display: inline-flex;
  border: none;
  padding: 0;
  background-color: transparent;

  z-index: 3;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    position: absolute;
  }
}

.menu__icon-menu {
  display: none;

  .menu__btn.is-open & {
    display: block;
  }
}

.menu__icon-cross {
  display: block;

  .menu__btn.is-open & {
    display: none;
  }
}
