.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 480px) {
    width: 480px;
  }
}

.page-header__nav {
  @include centeredflex();
  justify-content: space-between;
}
