.page-footer {
  padding: 60px 0;
  background-color: $background-black-color;

  &__container {
    text-align: center;
  }
}

.page-footer__address-social {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.page-footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}
