.product {
  position: relative;
  overflow: hidden;
}

.products__image {
  @extend %img;
}

.product__overlay {
  @include transition($type: transform);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);

  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(-100%);
  }
}

.product__text {
  @extend %indentations;

  color: $main-bg-color;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  @media screen and (max-width: 352px) {
    font-size: 16px;
  }
}

.product__meta {
  flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: $main-bg-color;
}

.product__title {
  flex-grow: 1;
  @extend %indentations;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__name {
  flex-grow: 2;
  @extend %indentations;
  margin-top: 4px;

  color: $primary-text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
