.subscription {
  margin-left: auto;
  margin-right: auto;
  width: 450px;

  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-right: 0;
  }
}

.subscription__title {
  @extend %indentations;
  @extend %fonts-title;

  margin-bottom: 20px;
  color: $main-bg-color;
}

.subscription__form {
  background-color: transparent;
}

.subscriptio__form-field {
  display: inline-block;
}

.subscription__input[type="email"] {
  @include transition($type: border);

  width: 100%;
  // width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  // margin-right: 12px;
  margin-bottom: 20px;
  color: $main-bg-color;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription__input:hover,
.subscription__input:focus {
  border: 1px solid $main-bg-color;
}

.subscription__button {
  @include centeredflex(inline-flex);
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.subscription__icon {
  margin-left: 10px;
}
